<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout}">
<head>
<meta charset="utf-8"/>
<title>Medcins</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
		th:href="@{css/bootstrap.min.css}"/>

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
		th:href="@{css/style.css}"/>
</head>
<body>
	<div class="container spacer mil col-md-6 col-xs-12" layout:fragment="custom-content">
		<div class="panel panel-default">
			<div class="panel-heading">Saisie d'un medcin</div>
			<div class="panel-body">
				<form th:action="@{/admin/saveMedcin}" method="post">
					<div class="form-group">
						<label class="control-label">Nom : </label>
						<input class="form-control" type="text" name="nom" th:value="${medcin.nom}"/>
						<span class="red" th:errors="${medcin.nom}"></span>
					</div>
					
					<div class="form-group">
						<label class="control-label">Prénom : </label>
						<input class="form-control" type="text" name="prenom" th:value="${medcin.prenom}"/>
						<span class="red" th:errors="${medcin.prenom}"></span>
					</div>	
					
					<div class="form-group">
						<label class="control-label">CIN : </label>
						<input class="form-control" type="text" name="cin" th:value="${medcin.cin}"/>
						<span class="red" th:errors="${medcin.cin}"></span>
					</div>
					
					<div class="form-group">
						<label class="control-label">Password : </label>
						<input class="form-control" type="text" name="password" th:value="${medcin.password}"/>
						<span class="red" th:errors="${medcin.password}"></span>
					</div>	
					
					<div class="form-group">	
						<label class="control-label">Spécialité : </label>
						<input class="form-control" type="text" name="specialite" th:value="${medcin.specialite}"/>
						<span class="red" th:errors="${medcin.specialite}"></span>
					</div>
					
					
					<div>
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>